.release-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    margin: 12px;
    border-radius: 12px;
    background-color: #1e1b2f; /* ciemny fioletowo-szary */
    border: 1px solid #444054;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #e0e0e0;
}

.release-panel:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
    background-color: #2b2740;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.name {
    font-size: 1.4em;
    font-weight: bold;
    color: #a259ff; /* neonowy fiolet */
}

/* Date box styling */
.dates {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.date-box {
    background-color: #262338; /* ciemny panel daty */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #00ffe7; /* neonowy turkus */
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.date-box:hover {
    background-color: #312d48;
}

.date-box span {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    color: #ffea00; /* jasny żółty akcent na nagłówki dat */
}
